<mat-accordion multi=true *ngIf="posts.length > 0">
  <mat-expansion-panel class="panel" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <p>{{ post.title }}</p>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-flat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
      <button mat-flat-button color="warn" (click)=onDeletePost(post.id)>DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator 
  [length]="totalPosts" 
  [pageSize]="postsPerPage" 
  [pageSizeOptions]="pageSizeOptions" 
  (page)="onChangedPage($event)">
</mat-paginator>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet ...</p>