<mat-card class="card">
  <form [formGroup]="postForm" (submit)="onCreateEditPost()">
    
    <mat-form-field>
      <mat-label>Post Title</mat-label>
      <input matInput type="text" name="title" formControlName="title">
      <mat-error *ngIf="this.postForm.get('title').invalid">Title is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Post Content</mat-label>
      <textarea matInput rows="4" name="content" formControlName="content"></textarea>
      <mat-error *ngIf="this.postForm.get('content').invalid">Content is required</mat-error>
    </mat-form-field>
    
    <div class="postbutton">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>

    <div class="imagepreview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="postForm.value.title">
    </div>
    
    <button class="postbutton" mat-raised-button color="primary" type="submit">Save Post</button>
  
  </form>
</mat-card>